@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Iosevka";
  src: url("/Iosevka-Regular.ttc");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Iosevka", sans-serif;
}

body {
  margin: auto;
  background-color: #ebebeb;
}

img {
  filter: grayscale(100%);
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #212121;
    color: white;
  }

  img {
    filter: grayscale(50%);
  }

  svg {
    fill: rgb(182, 182, 182);
  }

  svg:hover {
    fill: rgb(233, 233, 233);
  }
}
