---
import "../styles/style.css";
---

<main class="flex flex-col items-center justify-center h-screen">
  <div class="border-l-2 border-lime-600 p-4">
    <p>:(</p>
    <p>this is a 404 page</p>
    <a href="/"> <p class="text-lime-500 underline">go home</p></a>
  </div>
</main>
