---
import "../styles/style.css";
---

<main class="flex flex-col items-center border border-red-200">
  <div class="border-l-2 border-lime-600">
    <p>:(</p>
    <p>this is a 404 page</p>
    <a href="/"> <p class="text-lime-500">go home</p></a>
  </div>
</main>
