---
import BlogPost from "../components/BlogPost.astro";
import "../styles/style.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
const postCount = allPosts.length;

const formatDate = (isoString: string): string => {
  const date = new Date(isoString);
  const options: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "long",
    day: "numeric",
  };
  return date.toLocaleDateString(undefined, options);
};

allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).getTime() -
    new Date(a.frontmatter.pubDate).getTime()
);
---

<BaseLayout pageTitle="blog" image="/blog-placeholder.png">
  <section id="blog">
    <div id="blog-post-count" class="mx-auto md:mx-0 w-[230px] h-fit">
      <span
        class="inline-block text-sm mt-2 rounded-lg border border-blue-200 bg-blue-100 bg-opacity-50 px-2 dark:border-green-800 dark:bg-green-300 dark:bg-opacity-10 dark:text-green-500"
      >
        📖 blog
      </span>

      <p class="my-2">
        <span class="mx-2 font-semibold text-sm">
          {postCount}
          {postCount > 1 ? "posts" : "post"}
        </span>

        <br />
        <div class="text-sm border p-2 rounded-lg border-zinc-700">
          I write about things I learn, <br />
          things I build, and things I find interesting.
        </div>
      </p>
    </div>

    <ul class="mx-auto mt-16">
      {
        allPosts.map((post) => (
          <div class="odd:dark:bg-zinc-800 odd:bg-blue-50 ">
            <BlogPost
              title={post.frontmatter.title}
              date={formatDate(post.frontmatter.pubDate)}
              post={post.url}
            />
          </div>
        ))
      }
    </ul>
  </section>
</BaseLayout>

<script></script>
