---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import BlogPost from '../components/BlogPost.astro'
import '../styles/style.css'
import { ViewTransitions } from 'astro:transitions'

const postCount = `n/a`
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title class="border outline outline-2">Astro</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />

		<section id="blog flex items-center">
			<div id="blog-post-count" class="px-5 py-1 mb-10 border border-solid border-zinc-600 w-fit my-2 rounded-full">
				<p id="blogPostCount">blog posts: {postCount}</p>
			</div>

			<ul>
				<BlogPost 
					title = "how did I get here ?"
					date = "20th April, 2024"
					post = 'how-did-i-get-here'
				/>
				<BlogPost 
					title = "post two ? ig"
					date = "22th April, 2024"
					post = 'post-two'
				/>
			</ul>
		</section>

		<Footer />
	</body>
</html>
