---
import ProjectCard from "../components/ProjectCard.astro";
import Tag from "../components/Tag.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "hello world";
---

<BaseLayout pageTitle={pageTitle}>
  <section
    id="welcome"
    class="flex flex-col-reverse md:flex-row items-center md:justify-center mx-4 md:mx-auto"
  >
    <div
      id="left"
      class="border-solid border border-zinc-600 p-5 my-5 rounded-xl md:mr-16"
    >
      <p class="text-zinc-600 dark:text-zinc-400">Welcome,</p>
      <br />
      <p>
        my name is Vincent Kwaku Kpemlie,
        <br />
        currently a CS major at
        <a href="https://knust.edu.gh" target="_blank">
          <u class="underline-offset-2">KNUST, Kumasi</u>.
        </a>
        <br />
        <br />
        aspiring to be a cybersecurity
        <br />
        professional, I am currently learning <br />
        the basics of Cybersecurity.
      </p>

      <Tag name="cool dude" />
    </div>
    <div id="right" class="flex flex-col mb-4 mt-4">
      <img
        src="/anime.jpeg"
        alt="Vincent Kwaku Kpemlie"
        width="150px"
        class="border-solid border border-zinc-600 rounded-xl hover:border-0"
      />
      <button
        class="border border-solid border-zinc-600 mt-2 rounded-xl hover:bg-zinc-600 hover:text-white"
      >
        <a href={"/vkkpemlie-resume.pdf"}>📄 resume</a>
      </button>
    </div>
  </section>

  <section
    id="tools"
    class="border border-solid border-zinc-600 p-5 rounded-xl my-5 mx-auto w-[350px] md:w-auto md:mx-20"
  >
    <p class="text-zinc-600 dark:text-zinc-400">Tools / Technologies Used</p>
    <br />
    <p>
      HTML, CSS, Sass, TailwindCSS, Javascript, ReactJS, Astro, NodeJS, Bash,
      Python, C++, Java, Git, Github, Photoshop, Figma
    </p>
  </section>

  <section id="featured-projects" class="p-5 rounded-xl my-5 mx-auto">
    <p class="text-zinc-600 dark:text-zinc-400 flex justify-center">featured</p>
    <div class="flex flex-col items-center justify-center md:flex-row">
      <ProjectCard
        title="tailwind-auto-script"
        description="this is a basic bash script I wrote to automate the process of creating a new vite + react project and adding tailwind automatically."
        link="https://github.com/thelocalgodd/tailwind-auto-script"
        tag="bash"
      />
      <ProjectCard
        title="thelocal-chat"
        description="this ia an anonymous chat platform that I am building."
        link="https://github.com/thelocalgodd/thelocal-chat"
        tag="nextjs, tailwindcss, nodejs, expressjs, mongodb, socket.io"
      />
      <ProjectCard
        title="KNUST CS Assignments"
        description="as the title suggests, this is a repo filled with README files and relevant files regarding coding assignments given at KNUST "
        link="https://github.com/thelocalgodd/csknust"
        tag="c++, java, sql"
      />
    </div>

    <p class="my-1 flex justify-center mt-5">
      🔗 | check out more projects<a href="https://github.com/thelocalgodd"
        ><u class="underline-offset-4 hover:text-zinc-600 ml-1">here</u></a
      >
    </p>

    <p
      class="flex justify-center mt-5 text-xs text-gray-400 border-l border-dashed border-red-400 w-fit px-4 mx-auto"
    >
      see you space cowboy...
    </p>
  </section>
</BaseLayout>
