---
import "../styles/style.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="tlg | interesting stuff">
  <section id="blog" class="flex">
    <div
      id="blog-post-count"
      class="p-4 mx-auto flex md:mx-0 w-[230px] mt-10 rounded-xl"
    >
      <p>
        <span class="text-sm bg-green-600 text-white px-4 p-[2px] rounded-full">
          interesting stuff
        </span>
      </p>
    </div>
  </section>
</BaseLayout>
