---
import "../styles/style.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BulbIcon from "../../public/icons/bulb.svg";
import interestingItems from "./interesting-stuff.js";
import InterestingCard from "../components/InterestingCard.astro";
---

<BaseLayout pageTitle="tlg | interesting stuff">
  <section id="blog" class="flex flex-col">
    <div class="mx-auto flex md:mx-0 my-4 rounded-xl">
      <p>
        <span
          class="text-sm bg-green-600 md:mx-2 text-white px-4 p-[2px] rounded-full"
        >
          {BulbIcon} interesting stuff.
        </span>
      </p>
    </div>

    <div id="interesting-stuff" class="grid md:grid-cols-2">
      {
        interestingItems.map((item) => {
          return (
            <InterestingCard
              title={item.title}
              description={item.description}
            />
          );
        })
      }
    </div>
  </section>
</BaseLayout>
