---
import "../styles/style.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import interestingItems from "../config/interesting-stuff.js";
import InterestingCard from "../components/InterestingCard.astro";
---

<BaseLayout pageTitle="interesting stuff">
  <section id="blog" class="flex flex-col">
    <div class="mx-auto flex md:mx-0 my-4 rounded-xl">
      <p>
        <span
          class="inline-block text-sm rounded-lg border border-green-200 bg-green-100 bg-opacity-50 px-2 dark:border-green-800 dark:bg-green-300 dark:bg-opacity-10 dark:text-green-500"
        >
          interesting stuff.
        </span>
      </p>
    </div>

    <div id="interesting-stuff" class="grid md:grid-cols-2">
      {
        interestingItems.map((item) => {
          return (
            <InterestingCard
              title={item.title}
              description={item.description}
              link={item.link}
              linkText={item.linkText || "visit"}
            />
          );
        })
      }
    </div>
  </section>
</BaseLayout>
