---
import "../styles/style.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";

---

<BaseLayout pageTitle="tlg | interesting stuff">
  <section id="blog flex items-center">
    <div class="w-[310px] my-10 mx-auto md:mx-0 border border-solid border-zinc-700 rounded-xl p-4">
        <p>Interesting Stuff </p>
        <hr class="border border-1 border-zinc-600 dark:border-zinc-400 my-2">
        This is a collection of cool stuff, <br>
        that I have found on the internet, <br>
        I find them interesting and / helpful, <br>
        hopefully, you do too.
    </div>
    </ul>
  </section>
</BaseLayout>
