---
const { title, date, post } = Astro.props;
---

<a
  href=`${post}`
  target="_self"
  class="list-none transition-all flex justify-between dark:hover:bg-zinc-800 hover:bg-blue-200 py-1 w-screen md:mx-auto md:w-[800px] text-sm my-1 border-blue-200 bg-blue-100 bg-opacity-0 px-1 dark:border-zinc-600 dark:bg-zinc-600 dark:bg-opacity-0 dark:text-zinc-300"
>
  <p class="bg-inherit bg-opacity-50">{title}</p>
  <p class="bg-inherit bg-opacity-50">{date}</p>
</a>
