---
const { title, date, post } = Astro.props;
---

<a href=`${post}` target="_self">
  <li
    class="list-none border-l-2 border-l-solid border-l-slate-800 border-b dark:border-l-white my-1 flex justify-between bg-zinc-300 hover:bg-zinc-400 px-2 w-screen md:mx-auto md:w-[800px] dark:bg-inherit"
  >
    <p>{title}</p>
    <p class="text-zinc-500 dark:text-zinc-300">{date}</p>
  </li>
</a>
