---
const {title, date, post} = Astro.props;
---

<a href=`${post}`>
    <li class="list-none border-l-2 border-l-solid border-l-slate-800 dark:border-l-white border border-solid border-zinc-600 my-2 flex justify-between bg-zinc-300 hover:bg-zinc-400 px-3 w-[350px] mx-auto md:w-[800px] dark:bg-inherit">
        <p>{title}</p>
        <p class="text-zinc-500 dark:text-zinc-300">{date}</p>
    </li>
</a>