---
const date = new Date();
const year = date.getFullYear();
---

<hr class="mx-auto flex border-solid border border-zinc-400 mb-4" />

<footer
  class="flex justify-between w-[350px] md:w-auto mx-auto mb-2 px-3 md:px-1 text-sm"
>
  <div id="left" class="">
    <p>&copy; {year} | thelocalgodd</p>
    <p class="text-zinc-400">astro | tailwind | github pages</p>

    <div>
      <p>
        <a
          class="inline-block text-xs my-2 rounded-lg border border-blue-200 bg-blue-100 bg-opacity-50 px-4 border-dashed dark:border-zinc-200 dark:bg-zinc-300 dark:bg-opacity-10 dark:text-zinc-300"
          href="/interesting"
        >
          interesting
        </a>
      </p>
    </div>
  </div>
  <div id="right" aria-label="footer, right side" class="text-right">
    <p class="text-zinc-500">[ 速度 ]</p>
    <p id="heading" aria-label="source code link">
      <a
        aria-label="source code link"
        href="https://github.com/thelocalgodd"
        target="_blank"
      >
        <u class="underline-offset-4">
          <p class="hover:text-zinc-600">
            <a
              href="https://github.com/thelocalgodd/test.thelocalgodd.github.io"
              target="_blank">source code</a
            >
          </p>
        </u>
      </a>
    </p>
  </div>
</footer>
