---
const { title, description, link, linkText } = Astro.props;
---

<div class="my-2 p-2 border border-zinc-600 md:w-[250px] h-fit rounded-xl">
  <p class="font-bold text-sm">{title}</p>
  <hr class="w-full my-2 border-zinc-500" />
  <p class="text-xs my-2 text-zinc-400">{description}</p>
  <a
    href={link}
    class="text-xs rounded-md border border-green-200 bg-green-100 bg-opacity-50 px-3 dark:border-green-800 dark:bg-green-300 dark:bg-opacity-10 dark:text-green-500"
    >{linkText || "visit"}</a
  >
</div>
