---
import "../styles/style.css";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<ul
  class="flex items-center md:justify-start justify-center text-sm mt-4 md:mt-0"
>
  <li class="flex items-center justify-center rounded-full">
    <a href="/" class="mx-3 md:mx-0" id={currentPath === "" ? "active" : ""}>
      {currentPath === "" ? "🛖 home" : "home"}
    </a>
  </li>

  <li class="flex items-center justify-center rounded-3xl">
    <a
      href="/blog"
      class="mx-3"
      id={currentPath.startsWith("blog") || currentPath.startsWith("posts")
        ? "active"
        : ""}
    >
      {
        currentPath.startsWith("blog") || currentPath.startsWith("posts")
          ? "📖 blog"
          : "blog"
      }
    </a>
  </li>

  <li>
    <a
      href="/projects"
      class="mx-3"
      id={currentPath === "projects" ? "active" : ""}>404</a
    >
  </li>
</ul>

<style>
  :root {
    --light-blue: rgb(219 234 254);
    --light-blue-border: rgb(191 219 254);
    --dark-green: rgb(22 101 52);
    --dark-green-border: rgb(0, 184, 67);
  }
  li #active {
    display: inline-block;
    border-radius: 0.5rem;
    border: 1px solid var(--light-blue-border);
    background-color: var(--light-blue);
    opacity: 0.8;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    li #active {
      border-color: var(--dark-green-border);
      background-color: var(--dark-green);
      color: rgb(34 197 94);
    }
  }
</style>
