---
import '../styles/style.css'

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<ul class="flex items-center md:justify-start justify-center text-xl mb-4">
    <li>
        <a 
            href="/" 
            class="hover:text-zinc-500 mx-3"
            id={currentPath === "" ? "active" : ""}
        >
            home
        </a>
    </li>
    <li>
        <a 
            href="/blog" 
            class="hover:text-zinc-500 mx-3"
            id={currentPath === "blog" ? "active" : ""}
        >
            blog
        </a>
    </li>
</ul>