---
import "../styles/style.css";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<ul class="flex items-center md:justify-start justify-center text-lg">
  <li
    class="flex items-center justify-center rounded-3xl"
  >
    <a href="/" class="mx-3" id={currentPath === "" ? "active" : ""}> 
      home
    </a>
  </li>

  <li
    class="flex items-center justify-center rounded-3xl"
  >
    <a href="/blog" class="mx-3" id={currentPath === "blog" ? "active" : ""}>
      blog
    </a>
  </li>
</ul>