---
import Tag from "./Tag.astro";

const { title, description, link, tag } = Astro.props;
---

<a href={link} target="_blank">
  <div
    id="project"
    class="group border border-solid hover:border-dashed text-sm p-4 w-[210px] md:w-[250px] my-0 rounded-lg flex flex-col border-blue-300 bg-blue-100 bg-opacity-0 px-2 dark:border-zinc-500 dark:bg-zinc-200 dark:bg-opacity-0 dark:text-zinc-500 hover:md:h-fit transition-all duration-300"
  >
    <p class="text-zinc-600 dark:text-zinc-200 font-semibold">
      {title}
    </p>

    <div class="hidden group-hover:block transition-all">
      <p class="text-zinc-600 dark:text-zinc-400 mb-2">
        {description}
      </p>
      <div class="flex flex-row flex-wrap">
        <Tag name={tag} />
      </div>
    </div>
  </div>
</a>
