---
import Tag from "./Tag.astro";

const { title, description, link, tag } = Astro.props;
---

<a href={link} target="_blank">
  <div
    id="project"
    class="border border-solid hover:border-dashed text-sm p-4 w-[320px] md:w-[250px] my-2 rounded-lg flex flex-col border-accent-blue-300 bg-accent-blue-50 hover:bg-accent-blue-100 dark:border-accent-blue-700 dark:bg-accent-blue-950 dark:hover:bg-accent-blue-900 transition-colors duration-200"
  >
    <p class="text-gray-700 dark:text-gray-300 font-medium">
      {title}
    </p>
    <hr class="border-accent-blue-200 my-2 dark:border-accent-blue-800" />
    <p class="my-2 text-gray-600 dark:text-gray-400">{description}</p>
    <!-- <img
      src="/ss.png"
      class="rounded-xl -mb-10 h-16 w-[300px] object-cover border"
      alt="image"
    /> -->
    <!-- <div class="flex flex-row flex-wrap">
      <Tag name={tag} />
    </div> -->
  </div>
</a>
