---
// destructuring the props object
const { name } = Astro.props;

const nameArr = name.split(",");
---

{
  nameArr.map((name) => (
    <div class="m-[2px] cursor-default">
      <p class="inline-block text-xs rounded-md border border-green-200 bg-green-100 bg-opacity-50 px-2 dark:border-green-800 dark:bg-green-300 dark:bg-opacity-10 dark:text-green-500">
        {name}
      </p>
    </div>
  ))
}
