---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Google Analytics -->
		<script
		type="text/partytown"
		async
		src="https://www.googletagmanager.com/gtag/js?id=G-SVC1DZR2P8"></script>
		<script type="text/partytown">
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-SVC1DZR2P8");
		</script>

    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body class="md:w-[900px] *:select-none">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
