---
import "../styles/style.css";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout
  pageTitle={`post | ${frontmatter.title}`}
  image="/blog-placeholder.png"
>
  <li
    class="list-none my-5 flex items-center justify-center flex-col md:justify-between rounded-md md:px-2 md:w-[750px] md:mx-auto md:flex-row md:m-5"
  >
    <p
      class="border border-solid border-slate-900 px-5 rounded-xl dark:border-zinc-500"
    >
      {frontmatter.title}
    </p>
    <p class="text-zinc-500 my-2">
      {frontmatter.pubDate}
    </p>
  </li>

  <div class="w-screen px-8 mx-auto md:w-auto">
    <slot />
  </div>
  <br />
</BaseLayout>
