---
import '../styles/style.css'
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---


<BaseLayout pageTitle = { `blog | ${frontmatter.title}` }>

		<li class="list-none border border-dashed mb-5 flex items-center justify-between rounded-md px-3 w-[350px] md:w-auto md:m-5 mx-auto">
			<p class="bg-zinc-300 border border-dashed border-slate-800 px-3 rounded-lg">
				{frontmatter.title}
			</p>
			<p class="text-zinc-500">
				{frontmatter.author}
			</p>
		</li>
		<article class="w-[350px] md:w-auto md:mx-5 mx-auto">
			<slot />
		</article>
		<br>
</BaseLayout>